@import "~shared/_mixins";
@import "~shared/_theme";

#kanban-board {
    @include flex-grow;

    $spacing: $KANBAN_LIST_SPACING;

    height: 100%;
    white-space: nowrap;
    overflow-x: auto;

    padding: {
        top: $spacing;
        bottom: $spacing;
        left: $spacing / 2;
        right: $spacing / 2;
    }
}