@import "~shared/_mixins";

#kanban-header {
    @include flex-container-horizontal;
    @include flex-container-content-centered;
    @include flex-container-alignment-centered;
    @include flex-shrink(0);

    height: 60px;
    background-color: rgba(0,0,0,.16);

    @include larger-than-mobile {
        height: 80px;
    }

    div#logo {
        width: 108px;
        height: 20px;
        background-image: url("../assets/xerpa.png")
    }
}