@import "~shared/_mixins.scss";

div.list-wrapper {
    $spacing: 40px;

    display: inline-block;
    vertical-align: top;
    width: calc(100% - #{$spacing});
    height: 100%;
    max-height: 100%;

    margin: {
        left: $spacing / 2;
        right: $spacing / 2;
    }

    @include larger-than-mobile {
        //display 2 cols
        width: calc(50% - #{$spacing});
    }

    @include larger-than-tablet {
        //display 3 cols
        width: calc(33% - #{$spacing});
    }

    div.list-container {
        @include flex-container-vertical;

        max-height: 100%;
        border-radius: 4px;
        background-color: rgb(240,240,240);
        box-shadow: 0px 2px 6px rgba(0,0,0,.2);
        overflow: auto;

        header.list-header {
            padding: 10px;
            color: rgb(98,93,99);

            font: {
                weight: 700;
                size: 18px;
            }
        }

        footer.list-footer {
            background-color: rgb(200,200,200);
            padding: 5px;
        }
        
        section {
            overflow-y: auto;
        }
    }
}